<footer class="mt-5 py-5 text-center bg-primary" style="color: white;">
	<div class="d-flex justify-content-center align-items-center">
		Copyright@2020 SymBNB 
		<span class="px-2">-</span>
		<a href="{{path('mentions')}}" id="mentions"><span>Mentions légales</span></a>
	</div>
</footer>
