@import url('./bootstrap.min.css');
// Variables 
$rouge: #b71540!important;
$rubik: 'Rubik',
sans-serif;
$blueDark: #05304A;
$or: #C0B293;
*,
::before,
::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: $rubik, Montserrat, sans-serif;
}

.h1 {
    // concerne tout les gros titres des pages 
    text-align: center;
    // color: #C0B293;
    color: black !important;
    margin: 70px auto;
    // font-size: 2rem;
}

.card {
    // cartes des annonces 
    .card-header {
        // le nom des villes (ad.city) + (ad.rooms)
        font-size: 1.10rem;
    }
    .card-title {
        // le titre de l'annonce (ad.title)
        font-size: 1.05rem;
        color: $blueDark;
    }
    .card-text {
        // le descriptif de l'annonce (ad.introduction)
        font-size: 0.90rem;
        p {
            // présentation d'un propriétaire 
            font-weight: lighter;
        }
    }
}

nav {
    // menu 
    min-height: 5vh;
    // background-color: #05304A !important;
    @media (max-width: 767px) {
        min-height: 9vh;
    }
}

.container-class {
    //info 
    opacity: 0;
    .popup-class {
        position: absolute;
        bottom: 0;
        height: 65px;
        .content-class {
            color: white;
            font-size: 0.9rem;
            // padding-top: 15px;
            height: 100%;
            line-height: 50px;
        }
        button {
            position: absolute;
            right: 0;
            bottom: 0;
            font-size: 1em !important;
            padding: .3em 1em !important;
            @media (max-width: 1200px) {
                position: inherit;
            }
        }
        @media (max-width:767px) {
            height: auto;
        }
    }
}

#home {
    .jumbotron {
        // encadré prenant toute la place avec la photo 
        position: relative;
        font-family: $rubik !important;
        height: 95vh;
        width: 100vw;
        background-image: url(../../public/images/hut.jpg);
        background-size: cover;
        background-position: center center;
        background-attachment: fixed;
        background-repeat: no-repeat;
        @media (max-width: 767px) {
            max-height: 91vh;
        }
        .contenu-jumbotron {
            /* Technique de l'opacité pour l'animation TweenMax */
            opacity: 0;
        }
    }
    h1 {
        // bienvenue sur symbnb ma gueule !
        font-size: 80px;
        color: white;
        @media (max-width: 767px) {
            font-size: 40px;
            margin-top: 24px;
        }
    }
    .lead {
        // les phrases d'approches 
        color: white;
        font-size: 1.10rem;
        width: 80%;
        margin: auto;
        @media (max-width: 767px) {
             :last-child {
                position: absolute;
                bottom: 60px;
                margin-left: auto;
                margin-right: auto;
                left: 0;
                right: 0;
                width: 60%;
            }
        }
    }
}

#dashboard {
    // page d'accueil de l'admin
    .alert {
        // les tableaux des annonces populaires et des pires annonces 
        @media (max-width: 767px) {
            padding: 0; // enlever padding sinon le tableau ressort de l'écran et déborde
        }
    }
    .card-body {
        i {
            font-size: 3em; // logo des statistiques en grosse taille et 
            @media (max-width: 767px) {
                font-size: 1.5em; // en plus petite taille niveau smartphone 
            }
        }
        .card-title {
            // le titre des statistiques sur les utilisateurs, annonces, réservations et avis
            color: white;
            margin-bottom: 0;
        }
    }
}

div.container,
div.container-fluid {
    margin-top: 20px;
}

// new-title = ad-title
div.new-title {
    padding: 2em;
    background-size: cover;
    background-position: center center;
    h1,
    p {
        color: white;
        text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    }
    .btn {
        margin-top: 2em;
        font-size: 1.5em;
        line-height: 1.5em;
    }
}

div.carousel-caption {
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.carousel-inner {
    // le slider qui affichent les images d'une annonce
    img {
        max-height: 350px; // diminution de la taille de l'image
    }
}

.avatar {
    max-width: 128px;
    max-height: 128px;
    border-radius: 50%;
    &.avatar-macro {
        max-width: 100px;
        max-height: 100px;
    }
    &.avatar-medium {
        max-width: 64px;
        max-height: 64px;
    }
    &.avatar-dashboard {
        max-width: 45px;
        max-height: 45px;
    }
    &.avatar-mini {
        max-width: 24px;
        max-height: 24px;
    }
    &.avatar-micro {
        max-width: 20px;
        max-height: 20px;
    }
}

.datepicker table tr td.disabled,
.datepicker table tr td.disabled:hover {
    color: firebrick !important;
}

span.rating i {
    color: goldenrod;
}

.alert {
    a {
        text-decoration: none;
    }
    .btn {
        color: white;
    }
}

// Titre H4 Dashboard
.col-8 {
    h4 {
        font-size: 20px;
    }
}

// l'image du captcha
.captcha_image {
    display: block;
    margin: 4px 0;
}

// le code error en rouge si captcha incorrecte
.form-error-icon {
    display: none;
}

#account {
    // la partie présentation du user 
    .infos {
        img,
        span {
            display: block;
            margin: auto;
        }
        span {
            width: 21%;
        }
    }
}

#search_ad_recherche, // bouton de recherche d'annonces 
#payment-form_Payer,
#validate // bouton Payer stripe de la page paiement 
{
    display: block;
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
}

// PARTIE ADMINISTRATION 
.administration {
    // concerne tout les tableaux de la partie admin ou il est possible d'exporter des données en fichier csv
    thead {
        tr {
            th {
                @media (max-width: 767px) {
                    font-size: 7px;
                }
            }
        }
    }
    tbody {
        tr {
            td {
                @media (max-width: 767px) {
                    font-size: 5px;
                }
                a {
                    i {
                        @media (max-width: 767px) {
                            font-size: 7px;
                        }
                    }
                }
            }
            .little-size {
                // pour les titres d'annonces prenant trop de place
                @media (max-width: 767px) {
                    font-size: 4px;
                }
            }
        }
    }
}

// PARTIE CONNEXION LOGIN
.box,
#admin {
    .form-group {
        // bloc comprenant le label et input
        position: relative;
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
        label {
            position: absolute;
            top: 50%;
            left: 0px;
            transform: translateY(-50%);
            color: #aaa;
            font-size: 16px;
            transition: 0.4s ease-out;
            margin-left: 15%;
            @media (max-width: 767px) {
                margin-left: inherit;
            }
        }
        input {
            display: block;
            width: 70%;
            padding: 10px 0px;
            border: none;
            outline: none !important;
            background: none;
            border-bottom: 3px solid #aaa;
            color: #666;
            font-size: 16px;
            transition: 0.4s ease-out;
            &:focus {
                box-shadow: none !important;
            }
            @media (max-width: 767px) {
                width: 100%;
            }
        }
        button {
            display: block;
            width: 70%;
            padding: 10px 45px;
            border: 2px solid #3D6480;
            border-radius: 5px;
            background-size: 200%;
            // background-color: #3D6480;
            color: #3D6480;
            font-size: 14px;
            font-weight: 500;
            cursor: pointer;
            transition: 0.4s ease-out;
            &:hover {
                // background-color: $blueDark;
                // border-color: $blueDark;
                background-position: 100%;
                border: 2px solid #fff;
                color: white;
            }
            @media (max-width: 767px) {
                width: 100%;
            }
        }
        /* Animation */
        &:focus-within,
        &.animation {
            label {
                top: 0px;
                transform: translateY(-100%);
                color: #3D6480;
            }
            input {
                border-bottom-color: #3D6480;
            }
        }
    }
}

.link-register {
    // vous n'avez pas de compte ? 
    color: #3D6480;
    &:hover {
        color: $blueDark;
        text-decoration: none;
    }
}

.box {
    // form login user
    background-color: white;
    border-radius: .25rem !important;
    box-shadow: 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12);
    h1 {
        // connectez-vous
        color: #666;
        font-size: 1.4rem;
        font-weight: normal;
        strong {
            // connectez
            color: #3D6480;
        }
    }
    button {
        background-image: linear-gradient(to right, white 50%, #3D6480 50%, $blueDark);
    }
    .email {
        margin-top: 60px;
    }
}

#admin {
    // page de connexion de l'admin
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   
    width: 500px;
    button {
        background-image: linear-gradient(to right, #f8f9fa 50%, #3D6480 50%, $blueDark) !important;
    }
    .card-header {
        // block comprenant le titre connexion à administration 
        height: 50px;
        h4 {
            line-height: 50px;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.15rem;
            i {
                // le cadenas devant le titre
                padding-right: 8px;
                padding-bottom: 2px;
                @media (max-width: 767px) {
                    padding-bottom: 5px;
                }
            }
        }
    }
    .form-group:last-child {
        // block comprenant le button connexion et le lien retour au site
        position: relative;
        display: flex;
        flex-direction: column;
        button {
            // width: 50%;
            margin: auto;

            // @media (max-width: 767px) {
            //     width: 80%;
            // }
        }
        a {
            position: absolute;
            left: -10px;
            bottom: -70px;
        }
    }
    @media (max-width: 767px) {
        width: 300px;
    }
}

footer {
    #mentions {
        color: white;
        text-decoration: none;
        span {
            display: inline-block;
            border-bottom: 1px solid transparent;
            padding-bottom: 1px;
            &:hover {
                border-color: white;
            }
        }
    }
}

// ANIMATION SUR LES BOUTONS 
.more,
.plus,
.plus-recherche,
.voir-annonce,
.modifier,
.reserver,
.annuler-reservation {
    font-weight: 500;
    font-size: 1rem;
    &:hover {
        text-decoration: none;
    }
}

.btn {
    border-radius: 50px!important;
}

.annuler-reservation,
.btn-danger {
    background-color: $rouge;
    color: white!important;
    border-radius: 50px!important;
}

.btn-info,
.btn-primary {
    background-color: $blueDark!important;
}

.plus-recherche-panier {
    color: #A0906B;
    &:hover {
        text-decoration: none;
        color: $or;
    }
}

.more {
    // pour les buttons en savoir plus pour les annonces 
    margin: auto;
    background-color: #144461;
    border-radius: 999px;
    padding: 8px 12px;
    color: white;
    &:hover {
        color: white;
        background-color: $blueDark;
    }
    .fa-plus-circle {
        padding-left: 2px;
    }
}

.plus {
    // pour les buttons en savoir plus pour les propriétaires stars 
    color: #28a745;
    font-size: 1rem;
    &:hover {
        color: #28a745;
    }
}

.plus-recherche {
    // pour le button de recherche avancée 
    color: #A0906B;
    font-size: 1.2rem;
    margin-left: 20px;
    &:hover {
        color: $or;
    }
}

.voir-annonce {
    // bouton voir annonce sur la page accueil
    color: white;
    background-color: $or;
    padding: 25px;
    border-radius: 24% 76% 31% 69% / 45% 35% 65% 55%;
    // border-radius: 19% 81% 22% 78% / 72% 24% 76% 28% ;
    // border-radius: 62% 38% 43% 57% / 41% 22% 78% 59% ;
    // border-radius: 24% 76% 31% 69% / 45% 14% 86% 55% ;
    &:hover {
        color: white;
        background-color: #A0906B;
    }
    @media (max-width: 767px) {
        .delete {
            display: none;
        }
    }
}

.modifier {
    // bouton modifier annonce 
    background-color: #5a6268;
    border-radius: 999px;
    padding: 8px 12px;
    color: white;
    &:hover {
        color: white;
    }
}

.reserver {
    // bouton je réserve 
    background-color: #28a745;
    border-radius: 999px;
    padding: 8px 12px;
    color: white;
    .fa-exclamation-circle {
        padding-left: 2px;
    }
    &:hover {
        color: white;
        background-color: #128C2D;
    }
}

.register {
    // button pour confirmer l'inscription 
    display: block;
    // margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    padding: 12px;
    background-color: $or;
    color: white;
    border-radius: 999px;
    border: none;
    &:hover {
        background-color: #A0906B;
    }
}


/* Icon Pulse Grow => animation bouton EN SAVOIR + sur les annonces */

@-webkit-keyframes hvr-icon-pulse-grow {
    to {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }
}

@keyframes hvr-icon-pulse-grow {
    to {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }
}

.hvr-icon-pulse-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.hvr-icon-pulse-grow .hvr-icon {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-icon-pulse-grow:hover .hvr-icon,
.hvr-icon-pulse-grow:focus .hvr-icon,
.hvr-icon-pulse-grow:active .hvr-icon {
    -webkit-animation-name: hvr-icon-pulse-grow;
    animation-name: hvr-icon-pulse-grow;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}


/* Icon Wobble Horizontal => Animation boutons EN SAVOIR + sur les propriétaires et RECHERCHE AVANCÉE */

@-webkit-keyframes hvr-icon-wobble-horizontal {
    16.65% {
        -webkit-transform: translateX(6px);
        transform: translateX(6px);
    }
    33.3% {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    49.95% {
        -webkit-transform: translateX(4px);
        transform: translateX(4px);
    }
    66.6% {
        -webkit-transform: translateX(-2px);
        transform: translateX(-2px);
    }
    83.25% {
        -webkit-transform: translateX(1px);
        transform: translateX(1px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes hvr-icon-wobble-horizontal {
    16.65% {
        -webkit-transform: translateX(6px);
        transform: translateX(6px);
    }
    33.3% {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    49.95% {
        -webkit-transform: translateX(4px);
        transform: translateX(4px);
    }
    66.6% {
        -webkit-transform: translateX(-2px);
        transform: translateX(-2px);
    }
    83.25% {
        -webkit-transform: translateX(1px);
        transform: translateX(1px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.hvr-icon-wobble-horizontal {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.hvr-icon-wobble-horizontal .hvr-icon {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.hvr-icon-wobble-horizontal:hover .hvr-icon,
.hvr-icon-wobble-horizontal:focus .hvr-icon,
.hvr-icon-wobble-horizontal:active .hvr-icon {
    -webkit-animation-name: hvr-icon-wobble-horizontal;
    animation-name: hvr-icon-wobble-horizontal;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}


/* Icon Forward => Bouton VOIR NOS ANNONCES de la page d'accueil*/

.hvr-icon-forward {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
}

.hvr-icon-forward .hvr-icon {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-icon-forward:hover .hvr-icon,
.hvr-icon-forward:focus .hvr-icon,
.hvr-icon-forward:active .hvr-icon {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
}


/* Icon Rotate => Bouton CRÉER NOUVELLE ANNONCE */

.hvr-icon-rotate {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.hvr-icon-rotate .hvr-icon {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-icon-rotate:hover .hvr-icon,
.hvr-icon-rotate:focus .hvr-icon,
.hvr-icon-rotate:active .hvr-icon {
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
}


/* Icon Spin  => Bouton MODIFIER ANNONCE */

.hvr-icon-spin {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.hvr-icon-spin .hvr-icon {
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}

.hvr-icon-spin:hover .hvr-icon,
.hvr-icon-spin:focus .hvr-icon,
.hvr-icon-spin:active .hvr-icon {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}


/* Icon Buzz => Bouton JE RÉSERVE */

@-webkit-keyframes hvr-icon-buzz {
    50% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }
    100% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }
}

@keyframes hvr-icon-buzz {
    50% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }
    100% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }
}

.hvr-icon-buzz {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.hvr-icon-buzz .hvr-icon {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.hvr-icon-buzz:hover .hvr-icon,
.hvr-icon-buzz:focus .hvr-icon,
.hvr-icon-buzz:active .hvr-icon {
    -webkit-animation-name: hvr-icon-buzz;
    animation-name: hvr-icon-buzz;
    -webkit-animation-duration: 0.15s;
    animation-duration: 0.15s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}