{% extends 'base.html.twig' %}

{% block title %}Nos magnifiques annonces
{% endblock %}

{% block body %}

	<div class="container">

		<h1 class="h1">Voici les annonces des hôtes</h1>

		<div class="row">
			<span class="mb-3">
				<a href="{{path('ads_search')}}" class="plus-recherche hvr-icon-wobble-horizontal">Recherche avancée <i class="fas fa-search-plus hvr-icon"></i></a>
			</span>
		</div>


		<div class="row">
			{% for ad in ads %}
				{% include "ad/_ad.html.twig" %}
			{% endfor %}
		</div>
	</div>


{% endblock %}
