{% extends "base.html.twig" %}

{% block title %}
	Rechercher une annonce
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div class="col-10 col-md-6">
				<h1 class="my-5 text-center">Effectuer une recherche</h1>

				{{ form(search_form) }}

				</div>
			</div>
			{% if app.request.method == 'POST' %}
				<div class="row">
					<div class="col-10 offset-1">
						{% if ads | length == 0 %}
							<h2 class="my-5 text-center">Aucun résultat pour votre recherche</h2>
						{% else %}
							<h2 class="my-5 text-center">Résultats de la recherche</h2>
						<div class="row">
								{% for ad in ads %}
									{% include "ad/_ad.html.twig" %}
								{% endfor %}
							{% endif %}
						</div>
					</div>
				</div>
			{% endif %}
		</div>

	{% endblock %}
