{% extends "base.html.twig" %}

{% block title %}
Rechercher une annonce
{% endblock %}

{% block body %}
<div class="container">
<h1>Effectuer une recherche</h1>

{{form(search_form)}}

</div>
{% endblock %}